@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 245;
  --first-color: hsl(var(--hue-color), 47%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
  --main-color: #915eff;
  --text-color-white: #fff;
  --both-side-padding: 60px;
  --project-section-background-color: #0e0f1f;
  --project-card-background-color: #151030;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
/* <---------------- Default css ----------------> */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--main-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: var(--both-side-padding);
  padding-right: var(--both-side-padding);
}

/*===== LAYOUT =====*/
.bd-grid {
  /* max-width: 1024px; */
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* <!--------------------- Home Section ---------------------> */

#home {
  /* height: 100vh; */
  padding: 60px;
  margin-bottom: 120px;
  padding-top: 110px;
}

.home {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  color: var(--text-color-white);
  /* Set the path to your PNG image */
  background-image: url("../Assets/images/myImage/herobg-ecbfddc8.png");

  /* Set the background size and other properties as needed */
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 300px; */
}
.text {
  color: var(--text-color-white);
}
.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--main-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--text-color-while);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home-img {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  border: 1px solid var(--main-color);
  margin: auto;
}

.home__blob {
  fill: var(--first-color);
}

.home__blob-img {
  width: 360px;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* <!--------------------- About Section ---------------------> */
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* <!--------------------- Skills Section ---------------------> */
.skills-container {
  row-gap: 2rem;
  text-align: center;
}
.skills-subtitle {
  margin-bottom: var(--mb-2);
}
.skills-text {
  margin-bottom: var(--mb-4);
}
.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50px;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skills-icon {
  width: 2rem;
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills-card {
  display: flex;
  align-items: center;
}
/* <!--------------------- Project Section ---------------------> */
.projects {
  background-color: var(--project-section-background-color);
}
.project-container {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.project-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 15px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  color: var(--text-color-white);
  background-color: var(--project-card-background-color);
  border: 1px solid var(--project-card-background-color);
}
.project-card:hover {
  border: 1px solid var(--main-color);
}
.project-img {
  margin: auto;
  height: 35%;
  /* width: 90%; */
}
/* .project-img img {
  width:100% !important ;
  transition: 1s;
  cursor: pointer;
  object-fit: cover;  
  margin-bottom: 1rem;
} */

/* .project-container p {
  margin: auto 1rem 1rem;
} */
.project-title {
  text-align: center;
  padding: 10px 0px;
  font-weight: 700;
}
.project-subtitle {
  /* margin: auto 2rem 1rem; */
  margin-bottom: var(--mb-4);
  font-size: small;
  /* height: 20%; */
}
.project-tech-stack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.small-btn {
  padding: 0.4rem 1.3rem;
  font-weight: 400;
  margin: 1rem;
}
.project-btns {
  position: relative;
  bottom: 0%;
}
/* .work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
} */

/* <!--------------------- Contact Section ---------------------> */
.footer {
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 3.5rem 0;
}

.footer > h2 {
  color: #fff;
  font-size: 2rem;
}

.footer-title {
  font-size: 1.5rem;
  margin-bottom: var(--mb-4);
}
.footer-social {
  margin-bottom: var(--mb-4);
}
.footer-icon {
  font-size: 1rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

#hackerRank:hover,
#contact-linkedin:hover,
#contact-github:hover,
#twitter:hover,
#instagram:hover,
#facebook:hover,
#contact-email:hover,
#contact-phone:hover,
#location:hover {
  position: relative;
}

#hackerRank:hover::after,
#contact-linkedin:hover::after,
#contact-github:hover::after,
#twitter:hover::after,
#instagram:hover::after,
#facebook:hover::after,
#contact-email:hover::after,
#contact-phone:hover::after,
#location:hover::after {
  position: absolute;
  bottom: -50px;
  left: 0;
  font-size: 14px;
}

#hackerRank:hover::after {
  content: "HackerRank";
  color: #10e160;
}

#contact-linkedin:hover::after {
  content: "LinkedIn";
  color: rgb(84, 84, 224);
}

#contact-github:hover::after {
  content: "GitHub";
  color: white;
}

#twitter:hover::after {
  content: "Twitter";
  color: #f51cb3;
}

#instagram:hover::after {
  content: "Instagram";
  color: rgb(255, 0, 179);
}

#facebook:hover::after {
  content: "Facebook";
  color: rgb(45, 93, 214);
}

#contact-email:hover::after {
  content: "Gmail";
  color: rgb(232, 56, 56);
}

#contact-phone:hover::after {
  content: "Phone";
  color: white;
}

#location:hover::after {
  content: "Location";
  color: white;
}

/* Typing text */

.text-out {
  display: flex;
  align-items: center;
}
.text {
  /* border-right: 5px solid red; */
  font-size: 55px;
  font-family: inherit;
}
.typed-cursor {
  color: black;
}

/*  ------------------- MEDIA QUERIES------------------- */

@media all and (min-width: 420px) and (max-width: 460px) {
  .home-img {
    top: 400px;
    width: 70%;
    bottom: auto;
    margin: auto;
    right: 65px;
  }
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 460px) and (max-width: 530px) {
  .home-img {
    top: 400px;
    width: 60%;
    bottom: auto;
    margin: auto;
    right: 80px;
  }
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 578px) and (max-width: 700px) {
  .home-img {
    top: 570px;
    width: 50%;
    bottom: auto;
    margin: auto;
    right: 110px;
  }
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-container{
    grid-template-columns: repeat(1,1fr);
  }
}
@media all and (min-width: 701px) and (max-width: 985px){
  .project-container{
    grid-template-columns: repeat(2,1fr);
  }
}
@media all and (min-width: 530px) and (max-width: 578px) {
  .home-img {
    top: 375px;
    width: 60%;
    bottom: auto;
    margin: auto;
    right: 110px;
  }
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .home {
    row-gap: 2rem;
  }
  #home {
    margin-bottom: 40px;
  }
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left:20px;
    padding-right: 30px
  }

  .mainskills {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 368px) {
  #about {
    margin-top: 120px;
  }
}

@media all and (min-width: 321px) and (max-width: 575px) {
  .mainskills {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .home {
    margin: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
  .project-container{
    grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .bd-grid {
    margin: 0px;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home-img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
  .mainskills {
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .home {
    padding: 8rem 0 2rem;
  }
  .home-img {
    width: 300px;
    bottom: 20%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: initial;
  }

  .mainskills {
    width: 65%;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  .mainskills > div > img {
    width: 40%;
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  .about {
    margin-top: -120px;
  }
  /* .bd-grid {
    margin-left: auto;
    margin-right: auto;
  } */
  .home {
    padding: 10rem 0 2rem;
  }
  .home-img {
    width: 350px;
    bottom: 18%;
  }
  .home-img > img {
    margin-left: 100px;
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    text-align: initial;
  }
  .git_three_stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .git_three_stats div:nth-child(2) {
    margin-top: 23px;
  }
}

.hide {
  display: none;
}
